.d-f-c {
    display: flex;
    flex-direction: column;
}

.d-f-r {
    display: flex;
    flex-direction: row;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

body {
    margin: 0;
    background-color: rgb(215, 253, 253);
    display: flex;
    flex-direction: row;
    user-select: none;
    max-width: 100vw;
    max-height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}

ul {
    padding-inline-start: 0;
}

aside {
    background-color: #091a28;
    min-width: fit-content !important;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 100;
}

#name {
    height: max-content;
    text-align: justify;
}

#name_1 {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    color: white;
}

#nav_bar {
    width: 100%;
    height: 40vh;
    color: white;
}

#nav_bar ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    align-items: center;
    color: white;
    transition: all 0.5s;
    margin: 1rem 0;
}

#nav_bar ul li:hover {
    color: red;
}

#nav_bar img {
    width: 5vh;
    height: 5vh;
    margin-right: 3vw;
    fill: green;
}

#nav_bar a {
    font-family: "Play";
    font-size: 1.5rem;
    color: #000;
    transition: all 0.2s;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#nav_bar a:hover {
    color: rgb(226, 43, 43);
    text-shadow: unset;
    text-shadow: -2px 2px #000;
}

#text_1 {
    color: white;
    font-size: 1.2rem;
    line-height: 20px;
}

#social img {
    margin: 0 1rem;
    height: 25px;
    width: 25px;
}

main {
    width: 80vw;
}

.menu-btn {
    display: none;
    margin: 2rem;
    font-size: 1.5rem;
}

.content {
    display: none;
}

.content > div {
    height: 100vh;
}

#me {
    border-radius: 50%;
    width: 12.5vw;
    height: 12.5vw;
}

#profile {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

#my_name {
    font-size: 3.5rem;
}

#about_me p {
    all: unset;
    font-size: 1.3rem;
    font-weight: 500;
}

#skills div {
    flex-wrap: wrap;
}

.skills_container {
    width: 50vw;
}

.skills_container img {
    max-width: 5rem;
    max-height: 5rem;
    margin: 2rem;
}

#skills > div > div {
    margin: 3rem 0;
    width: 70vw;
}

#experience > div > div {
    overflow-y: scroll;
    height: 80vh;
    width: 75%;
}

.exp-sec {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.exp-sec a {
    color: #0056b3;
}

.desc h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.desc p {
    margin-bottom: 0.75rem;
}

.list li {
    margin: 0.25rem 0;
}

.timeline p {
    margin-bottom: 1rem;
}

.sign {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0062, -0.2rem 0.1rem 1rem #ff0062, 0.2rem 0.1rem 1rem #ff0062,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0062, -0.2rem 0.1rem 1rem #ff0062, 0.2rem 0.1rem 1rem #ff0062,
            0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff0062;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff0062;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #ff0062;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0062, -0.2rem 0.1rem 1rem #ff0062, 0.2rem 0.1rem 1rem #ff0062,
            0 -0.5rem 2rem #ff0062, 0 0.5rem 3rem #ff0062;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

.wordCarousel {
    font-size: 1.2rem;
    font-weight: 100;
    color: #d8d8d8;
    margin-top: -5rem;
    overflow: hidden;
    height: 20px;
}

.wordCarousel li {
    color: #fbff00;
    font-weight: 100;
    height: 45px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.flip2 {
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
    animation: flip4 12s cubic-bezier(0.23, 1, 0.72, 1.2) infinite;
}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }
    5% {
        margin-top: -270px;
    }
    25% {
        margin-top: -270px;
    }
    30% {
        margin-top: -180px;
    }
    50% {
        margin-top: -180px;
    }
    55% {
        margin-top: -90px;
    }
    75% {
        margin-top: -90px;
    }
    80% {
        margin-top: 0px;
    }
    99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}

@media all and (max-height: 800px) {
    .wordCarousel {
        margin-top: 0;
    }
}

@media all and (max-width: 1000px) {
    aside * {
        font-size: smaller;
    }
    #profile p {
        font-size: smaller;
        width: 80%;
    }
    #my_name {
        font-size: x-large;
    }
    main {
        width: 100vw;
    }
    .menu-btn {
        display: block;
    }
    .wordCarousel {
        margin-top: 0;
    }
    #me {
        border-radius: 50%;
        width: 35vw;
        height: 35vw;
    }
    #skills > div > div {
        margin: 0;
        width: 90vw;
        overflow-y: scroll;
    }
    .skills_container {
        width: 80vw;
    }
    #skills img {
        max-width: 4rem;
        max-height: 4rem;
        margin: 1.5rem;
    }
}
